<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Database</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .copyable {
            cursor: pointer;
            text-decoration: none;
            color: blue;
        }

        .copy-btn {
            cursor: pointer;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h2>Database Entries:</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Creation Time</th>
                    <th>API ID</th>
                    <th>API Hash</th>
                    <th>Bot Token</th>
                    <th>Owner ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in inputs %}
                    <tr>
                        <td class="copyable">{{ entry.timestamp }}</td>
                        <td class="copyable" onclick="copyCellValue(this)">{{ entry.api_id }}</td>
                        <td class="copyable" onclick="copyCellValue(this)">{{ entry.api_hash }}</td>
                        <td class="copyable" onclick="copyCellValue(this)">{{ entry.bot_token }}</td>
                        <td class="copyable" onclick="copyCellValue(this)">{{ entry.owner_id }}</td>
                        <td>
                            <button class="btn btn-info copy-btn" onclick="copyRowData(this)">Copy Row</button>
                            <!-- <form style="display: inline;" action="{{ url_for('delete_row', id=entry._id) }}" method="post">
                                <button class="btn btn-danger delete-btn" type="submit">Delete Row</button>
                            </form> -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include Bootstrap JS dependencies at the end of the body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function copyToClipboard(value) {
            var textarea = document.createElement('textarea');
            textarea.value = value;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            alert('Data copied to clipboard!');
        }

        function copyCellValue(cell) {
            var cellValue = cell.innerText;
            copyToClipboard(cellValue);
        }

        function copyRowData(button) {
            var row = button.parentNode.parentNode;
            var apiId = row.cells[0].innerText;
            var apiHash = row.cells[1].innerText;
            var botToken = row.cells[2].innerText;
            var ownerid = row.cells[3].innerText;
            // var timestamp = row.cells[4].innerText;
            // var dataToCopy = `API ID: ${apiId}, API Hash: ${apiHash}, Bot Token: ${botToken}, Owner ID: ${ownerid}, Creation Time: ${timestamp}`;
            var dataToCopy = `API ID: ${apiId}, API Hash: ${apiHash}, Bot Token: ${botToken}, Owner ID: ${ownerid}`;
            copyToClipboard(dataToCopy);
        }
    </script>
</body>
</html>
